# Virtual environment
env/
venv/
myenv/

# Database
db.sqlite3

# Python
*.pyc
__pycache__/

# Environment variables
.env

# Static files
/staticfiles/

# Media files
/media/

# VS Code
.vscode/

# Mac
.DS_Store